*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.productos{
    margin: 10px;
    background-color: gray;
}

.formulario{
    margin-top: 50px;
    padding: 10px;
    width: 780px;
    height: 80vh;
}
